:root {
    --color-claro: #f0ede4;
    --color-texto: rgb(53, 46, 46);
    --color-pantalla-texto: #dbdaa3dc;
    /* --color-oscuro:#3C3C3C;
    --color-texto-oscuro: #c7b6b6; */

}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;

}

.contenido {
    width: 40%;
    max-width: 2000px;
    margin: 0 auto;
    padding-top: 60px;
    min-width: auto;
}

.dos {
    width: 100%;
    display: flex;
    justify-content: center;
}

h1 {
    display: flex;
    font-size: 20px;
    justify-content: center;
}

#modos {
    display: flex;
    justify-content: center;
    gap: 25px;
}

body {
    background-color: var(--color-claro);
    color: var(--color-texto);
}


.modo-oscuro {
    --color-claro: #3c3c3cb4;
    --color-texto: #fffc38f3;
    --color-pantalla-texto: #FFFB38;
}


button {
    /* width: 2250px; */
    border: none;
    background: none;

}

#Cambio-modo {
    font-size: 35px;
    position: absolute;
    top: 10px;
    right: 50px;
}

.boton-oscuro {
    color: var(--color-texto);

}

#butacas {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}





#pantalla {
    background-color: #585757;
    width: 100%;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    justify-content: center;
    display: flex;
    align-items: center;
    align-content: center;
    color: var(--color-pantalla-texto);
    border-radius: 500px 500px 0px 0px;
}




.lateral {
    margin-right: 50px;
}

.lateral2 {
    margin-left: 50px;
}

#selector {
    display: flex;
    justify-content: center;
    padding: 5px;
    margin-top: 15px;

}

#Pelis {
    background-color: var(--color-claro);
    color: var(--color-texto);
    border-radius: 5px 5px;
    border: none;

}

.butaca {
    background-image: url("../img/butaca.png");
    background-repeat: no-repeat;
    height: 65px;
    align-content: center;


}

.escalera {
    background-image: url("../img/escalera.png");
    background-repeat: no-repeat;
    height: 40px;
    align-content: center;
}


.butacaSeleccionada {
    background-image: url("../img/butaca-destino2.png");
    background-repeat: no-repeat;
    height: 65px;
}

.butacaReservada {
    background-image: url("../img/Butaca-reservada.png");
    background-repeat: no-repeat;
    height: 65px;
}

.asiento {
    color: red;
}

.dineros {
    color: blue;
}

.texto {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: absolute;
    padding: 15px;
}

#boton {
    border: 1px solid;
    border-radius: 10px 10px 10px 10px;

}

#boton:active {
    transform: scale(0.9);
    transition-duration: 0.1s;
    transition-timing-function: linear;
}
